@model IEnumerable<DocumentManagementSystem.DAL.Models.Category>

<li>
    <a href="javascript:void(0);" class="selectCategory">All</a>
</li>

@foreach (var item in Model)
{
<li>
    <a href="javascript:void(0);" class="selectCategory">@Html.DisplayFor(modelItem => item.categoryName)</a>
</li>
}